*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-container{
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: #D4DEF2;
}

.medication-form{
	flex-basis: 30%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 1rem;
}

.input-box{
	display: flex;
	flex-direction: column;
}

input{
	width: 75%;
	height: 2rem;
}
select{
	width: 75%;
	height: 2rem;
}

.submit-button{
	width: 6.5rem;
	height: 1.5rem;
	background: #6f9bf4;
	color: #0a1936;
	border: 2px solid #6f9bf4;
	border-radius: 0.5rem;
	cursor: pointer;
}

.submit-button:hover{
	background-color: #86aaf2;
}

.inventory-container{
	width: 100%;
	flex-basis: 80%;
	display: flex;
	flex-direction: column;
	background-color: #F0F5FF;
}

.select-list-button-container{
	flex-basis: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	background-color: #D4DEF2;
}

.select-list-button-container button{
	width: 12rem;
	height: 2rem;
	cursor: pointer;
	border: none;
	border-radius: 0.25rem;
	font-weight: bold;
	background-color: #6f9bf4;
}

h1{
	flex-basis: 10%;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #D4DEF2;
}
.display-inventory{
	flex-basis: 90%;
	display: flex;
}

.prescription-header, .non-prescription-header{
	width: 100%;
	height: 2rem;
	display: flex;
	text-align: center;
	align-items: center;
	border-radius: 0.25rem;
	background-color: #B9CFFC;
}

.prescription-header span{
	flex-basis: 20%;
}

.non-prescription-header span{
	flex-basis: 20%;
}

.display-non-prescription{
	display: none;
}

.prescription-row, .non-prescription-row{
	display: flex;
	height: 2rem;
	margin: 0.5rem 0;
	border-radius: 0.25rem;
	align-items: center;
}

.prescription-row span{
	flex-basis: 20%;
	display: flex;
	justify-content: center;
}

.non-prescription-row span{
	flex-basis: 20%;
	display: flex;
	justify-content: center;
}

.prescription-row button{
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-weight: bold;
}

.prescription-row button:hover{
	color: deepskyblue;
}

.non-prescription-row button{
	width: 1.5rem;
	height: 1.5rem;
	background-color: transparent;
	cursor: pointer;
	border: none;
	font-weight: bold;
}

.non-prescription-row button:hover{
	color: deepskyblue;
}

@media screen and (min-width: 600px) and (max-width: 1025px){
	.main-container{
		flex-direction: column;
		text-align: center;
	}

	input{
		margin-left: 10%;
	}

	select{
		margin-left: 10%;
	}
	.submit-button{
		margin-left: 43%;
	}
	
}

@media screen and (max-width: 599px){
	.main-container{
		flex-direction: column;
		text-align: center;
	}

	input{
		margin-left: 15%;
	}

	select{
		margin-left: 15%;
	}
	.submit-button{
		margin-left: 37%;
	}

	.prescription-header span{
		font-size: 12px;
	}
	
	.non-prescription-header span{
		font-size: 12px;
	}

	.prescription-row span{
		font-size: 12px;
	}
	
	.non-prescription-row span{
		font-size: 12px;
	}
}

